fastapi
uvicorn
pydantic
python-multipart

pandas
numpy

langchain
langchain-community
langchain-core

openai

faiss-cpu
chromadb

sentence-transformers

python-dotenv

requests

jinja2

aiofiles

httpx

scikit-learn

pypdf
python-docx
openpyxl